MONGODB_URL=mongodb+srv://nix-flex:jHXsm62WBEpBelgE@nix-flex.ovm4do1.mongodb.net/?retryWrites=true&w=majority
PORT=5000
TOKEN_SECRET=yourrandomsecret
TMDB_BASE_URL=https://api.themoviedb.org/3/
TMDB_KEY=2c0a64606e2854b6f19218d9329e08d3
